<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Sobre nosotros</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Redes sociales</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Nuestro sitio</h4>
                <div class="hline-w"></div>
                <!--TODO(vkmc) Agregar links internos -->
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
